Repository dooboolab/dooboo-ui, pull requests merged in 2020-01, with the labels that each got.

#117 [Feature][EditText] Implement box input and Update README.md
  .circleci/config.yml
  src/components/shared/EditText/README.md
  src/components/shared/EditText/index.tsx
  src/components/shared/__tests__/__snapshots__/EditText.test.tsx.snap
  storybook/stories/EditText.stories.tsx
Labels: feature, lib/edit_text

#118 Update packages and resolves storybook issue
  .ncurc.json
  package.json
  src/components/shared/ButtonGroup/index.tsx
  src/components/shared/LoadingIndicator/index.tsx
  src/components/shared/SearchInput/index.tsx
  src/components/shared/__tests__/__snapshots__/ButtonGroup.test.tsx.snap
  src/components/shared/__tests__/__snapshots__/LoadingIndicator.test.tsx.snap
  storybook/stories/index.js
  yarn.lock
Labels: config, update packages

#116 [Feature][Branch] Type modification
  src/components/shared/Select/index.tsx
  src/components/shared/__tests__/Select.test.tsx
Labels: feature, lib/select

#119 [Feature][Branch][Select] "Title" section
  src/components/shared/Select/README.md
  src/components/shared/Select/index.tsx
  src/components/shared/__tests__/Select.test.tsx
  src/components/shared/__tests__/__snapshots__/Select.test.tsx.snap
  storybook/stories/Select.stories.tsx
Labels: feature, lib/select

#78 [Feature][Branch][Slider] Implement Thumb
  src/components/shared/Slider/Thumb.tsx
  src/components/shared/Slider/index.tsx
  src/components/shared/Slider/utils.ts
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
  storybook/stories/Slider.stories.tsx
Labels: branch, feature, lib/slider

#120 [Feature][EditText] Add props of EditText
  .gitignore
  icons/check.png
  icons/check@2x.png
  icons/check@3x.png
  ios/Podfile.lock
  src/components/shared/EditText/README.md
  src/components/shared/EditText/index.tsx
  src/components/shared/Icons.ts
  src/components/shared/__tests__/EditText.test.tsx
  src/components/shared/__tests__/__snapshots__/EditText.test.tsx.snap
  storybook/stories/EditText.stories.tsx
  yarn.lock
Labels: feature, lib/edit_text

#123 Revert [Button] and refactor
  CHANGELOGS.md
  ios/Podfile.lock
  package.json
  src/components/screen/ButtonSample.tsx
  src/components/screen/EditTextSample.tsx
  src/components/shared/Button/README.md
  src/components/shared/Button/index.tsx
  src/components/shared/Button/package.json
  src/components/shared/EditText/README.md
  src/components/shared/__tests__/Button.test.tsx
  src/components/shared/__tests__/ButtonGroup.test.tsx
  src/components/shared/__tests__/__snapshots__/Button.test.tsx.snap
  storybook/stories/Button.stories.tsx
  storybook/stories/EditText.stories.tsx
Labels: lib/button, refactor, revert

#104 [Feature][Branch][Slider] Modify `step` prop and Add `defaultTheme` of [Rail].
  src/components/shared/Slider/Rail.tsx
  src/components/shared/Slider/index.tsx
Labels: branch, feature

#74 [Feature][Branch][Slider] Add tests for Rail
  src/components/shared/__tests__/Slider.test.tsx
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
Labels: branch, lib/slider, testing

#126 [Feature][Branch][Snackbar] Fix a bug about showing state and supplements some codes for the test.
  src/components/shared/Snackbar/index.tsx
  src/components/shared/__tests__/Snackbar.test.tsx
  src/components/shared/__tests__/__snapshots__/Snackbar.test.tsx.snap
Labels: branch, feature, lib/snackbar

#73 [Feature][Branch][Select] List
  .vscode/settings.json
  ios/Podfile.lock
  src/components/shared/Select/README.md
  src/components/shared/Select/index.tsx
  src/components/shared/__tests__/Select.test.tsx
  src/components/shared/__tests__/__snapshots__/Select.test.tsx.snap
  storybook/stories/Select.stories.tsx
Labels: branch, feature, lib/select

#129 [Feature][Branch][AutoComplete] Refactor
  .circleci/config.yml
  .eslintrc.js
  .gitignore
  .ncurc.json
  CHANGELOGS.md
  icons/check.png
  icons/check@2x.png
  icons/check@3x.png
  ios/Podfile.lock
  ios/doobooWidgets.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  lerna.json
  package.json
  src/App.tsx
  src/components/screen/AutoCompleteSample.tsx
  src/components/screen/ButtonSample.tsx
  src/components/screen/EditTextSample.tsx
  src/components/shared/AutoComplete/README.md
  src/components/shared/AutoComplete/index.tsx
  src/components/shared/AutoComplete/renderInput.tsx
  src/components/shared/AutoComplete/renderOptions.tsx
  src/components/shared/AutoComplete/styles.ts
  src/components/shared/AutoComplete/types.ts
  src/components/shared/Button/README.md
  src/components/shared/Button/index.tsx
  src/components/shared/Button/package.json
  src/components/shared/ButtonGroup/index.tsx
  src/components/shared/EditText/CHANGELOG.md
  src/components/shared/EditText/README.md
  src/components/shared/EditText/index.tsx
  src/components/shared/EditText/package.json
  src/components/shared/Icons.ts
  src/components/shared/LoadingIndicator/index.tsx
  src/components/shared/SearchInput/index.tsx
  src/components/shared/__tests__/Button.test.tsx
  src/components/shared/__tests__/ButtonGroup.test.tsx
  src/components/shared/__tests__/EditText.test.tsx
  src/components/shared/__tests__/__snapshots__/Button.test.tsx.snap
  src/components/shared/__tests__/__snapshots__/ButtonGroup.test.tsx.snap
  src/components/shared/__tests__/__snapshots__/EditText.test.tsx.snap
  src/components/shared/__tests__/__snapshots__/LoadingIndicator.test.tsx.snap
  storybook/stories/AutoComplete.stories.tsx
  storybook/stories/Button.stories.tsx
  storybook/stories/EditText.stories.tsx
  storybook/stories/index.js
  yarn.lock
Labels: branch, lib/autocomplete, refactor

#121 [Feature][Branch][Select] Implement Picker mode on Select Component
  src/components/shared/Select/Picker.tsx
  src/components/shared/Select/README.md
  src/components/shared/Select/index.tsx
  src/components/shared/__tests__/Select.test.tsx
  src/components/shared/__tests__/__snapshots__/Select.test.tsx.snap
  storybook/stories/Select.stories.tsx
Labels: feature, lib/select

#124 [Feature][Branch][Slider] Implement [Track]
  src/components/shared/Slider/Track.tsx
Labels: branch, feature, lib/slider

#125 [Feature][Branch][Slider] Split [Rail] to [Rail] and [Marks]
  src/components/shared/Slider/Marks.tsx
  src/components/shared/Slider/Rail.tsx
  src/components/shared/Slider/Thumb.tsx
  src/components/shared/Slider/index.tsx
  src/components/shared/__tests__/Slider.test.tsx
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
Labels: branch, enhancement, feature, lib/slider

#132 [Enhance][Branch][Slider] Modify mark count calculation
  src/components/shared/Slider/Marks.tsx
  src/components/shared/Slider/Rail.tsx
  src/components/shared/Slider/Thumb.tsx
  src/components/shared/Slider/Track.tsx
  src/components/shared/Slider/index.tsx
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
  storybook/stories/Slider.stories.tsx
Labels: branch, enhancement, lib/slider

#136 [Feature][Branch][Slider] Remove needless props.
  src/components/shared/Slider/Marks.tsx
  src/components/shared/__tests__/Slider.test.tsx
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
Labels: feature, lib/slider

#141 [Feature][Branch][Slider] Fit percent and value to step.
  src/components/shared/Slider/index.tsx
  src/components/shared/Slider/utils.ts
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
  storybook/stories/Slider.stories.tsx
Labels: branch, feature, lib/slider

#142 [Feature][Branch][Slider] Add [Rail] test.
  src/components/shared/__tests__/Slider.test.tsx
Labels: branch, lib/slider, testing

#143 [Feature][Branch][Slider] Test snapshots.
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
Labels: branch, lib/slider, testing

#145 [Feature][Branch][Slider] Add [Track] test.
  src/components/shared/__tests__/Slider.test.tsx
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
Labels: branch, lib/slider, testing

#146 [Feature][Branch][Slider] Add [Thumb] test
  src/components/shared/Slider/Thumb.tsx
  src/components/shared/__tests__/Slider.test.tsx
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
Labels: branch, lib/slider, testing

#147 [Feature][Branch][Slider] Add util tests.
  src/components/shared/Slider/utils.ts
  src/components/shared/__tests__/Slider.test.tsx
Labels: branch, lib/slider, testing

#151 [Feature][Branch][Slider] Add [Slider] tests.
  src/components/shared/Slider/index.tsx
  src/components/shared/__tests__/Slider.test.tsx
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
Labels: branch, lib/slider, testing

#152 [Enhance][Branch][Slider] Add README.md
  src/components/shared/Slider/README.md
  src/components/shared/Slider/index.tsx
  storybook/stories/Slider.stories.tsx
Labels: branch, enhancement, lib/slider

#140 [Feature][Branch][AutoComplete] Add storybook options, polish renderInput props
  package.json
  src/components/screen/AutoCompleteSample.tsx
  src/components/shared/AutoComplete/README.md
  src/components/shared/AutoComplete/dummyData.ts
  src/components/shared/AutoComplete/dummyData.tsx
  src/components/shared/AutoComplete/index.tsx
  src/components/shared/AutoComplete/renderInput.tsx
  src/components/shared/AutoComplete/renderOptions.tsx
  src/components/shared/AutoComplete/styles.ts
  src/components/shared/AutoComplete/types.ts
  storybook/stories/AutoComplete.stories.tsx
  yarn.lock
Labels: branch, feature, lib/autocomplete

#157 [Feature][Branch][Slider] Update Slider and Label style
  src/components/shared/Slider/Label.tsx
  src/components/shared/Slider/Marks.tsx
  src/components/shared/Slider/Thumb.tsx
  src/components/shared/Slider/index.tsx
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
  storybook/stories/Slider.stories.tsx
Labels: branch, feature, lib/slider

#158 [Enhance][Branch][Slider] Improve functionality
  src/components/shared/Slider/Label.tsx
  src/components/shared/Slider/Thumb.tsx
  src/components/shared/Slider/index.tsx
  src/components/shared/__tests__/Slider.test.tsx
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
  storybook/stories/Slider.stories.tsx
Labels: branch, enhancement, lib/slider

#160 [Feature][Branch][Select] Implement Dialog mode and refactoring
  src/components/shared/Select/Dialog.tsx
  src/components/shared/Select/DropDown.tsx
  src/components/shared/Select/Picker.tsx
  src/components/shared/Select/README.md
  src/components/shared/Select/constants.ts
  src/components/shared/Select/index.tsx
  src/components/shared/__tests__/Select.test.tsx
  src/components/shared/__tests__/__snapshots__/Select.test.tsx.snap
  storybook/stories/Select.stories.tsx
Labels: feature, lib/select

#161 [Testing][Branch][Slider] Fix 'No overload matches this call.' error
  src/components/shared/Slider/Marks.tsx
  src/components/shared/Slider/Rail.tsx
  src/components/shared/Slider/Thumb.tsx
  src/components/shared/Slider/Track.tsx
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
  storybook/stories/Slider.stories.tsx
Labels: branch, lib/slider, testing

#167 [Feature][Slider] Implement Slider component
  src/components/navigation/SwitchNavigator.tsx
  src/components/screen/SliderSample.tsx
  src/components/shared/Slider/Label.tsx
  src/components/shared/Slider/Marks.tsx
  src/components/shared/Slider/README.md
  src/components/shared/Slider/Rail.tsx
  src/components/shared/Slider/Thumb.tsx
  src/components/shared/Slider/Track.tsx
  src/components/shared/Slider/index.tsx
  src/components/shared/Slider/utils.ts
  src/components/shared/__tests__/Slider.test.tsx
  src/components/shared/__tests__/__snapshots__/Slider.test.tsx.snap
  src/components/shared/index.ts
  storybook/stories/Slider.stories.tsx
  storybook/stories/index.js
Labels: feature, lib/slider

#163 Add logo
  README.md
Labels: documentation
